body {
    font-family: Arial, sans-serif;
    background: #eef2f5;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    max-width: 500px;
    background: white;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
}

.steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.step {
    padding: 5px 10px;
    background: #ccc;
    border-radius: 4px;
}

.step.active {
    background: #2c5364;
    color: white;
}

.step-content {
    display: none;
}

.step-content.active {
    display: block;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 15px;
    border: none;
    background: #2c5364;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #1f3c4a;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 30px;
}

   nav a {
    text-decoration: none;
    color: #0c2461;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 8px 16px;
    border-radius: 5px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
}    
        

 nav a:hover {
    background-color: #0c2461;
    color: white;
    transform: translateY(-3px);
}
        

nav a.active {
    background-color: #0c2461;
    color: white;
}
